@font-face {
  font-family: "SokchoBadaDotum";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/SokchoBadaDotum.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
  font-family: "Pretendard-Regular";
  font-weight: 500;
}

h1, h2, h3, h4, h5, p, span {
  font-family: "Pretendard-Regular";
  color: #333;
}

.hm3 {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hm3 > p {
  width: 60px;
  height: 60px;
  font-size: 24px;
  color: #1E9EFF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
}

.hm3 > .category {
  width: 130px;
  height: 20px;
  display: flex;
  justify-content: center;
}

.category img {
  width: 18px;
  cursor: pointer;
}

.category p {
  font-size: 14px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  font-weight: 500;
}

#slidebox {
  width: 100%;
  height: 460px;
}

.slidesize {
  width: 1170px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.slidebtn {
  width: 1150px;
  height: 60px;
  display: flex;
  align-items: center;
  border-top: 1px solid rgb(243, 243, 243);
}

.slideul {
  width: 200px;
}

.slideul li {
  float: left;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  height: 35px;
  font-weight: 600;
  cursor: pointer;
  font-family: "Pretendard-Regular";
}

.slideul li:nth-of-type(1) {
  background-color: #1E9EFF;
  border-radius: 20px;
  color: #fff;
  padding: 5px;
  margin-right: 20px;
  margin-left: 10px;
}

.slidewrap {
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.slide {
  width: 1160px;
  height: 400px;
  float: left;
  display: flex;
  background-position: center;
  background-size: cover;
  position: relative;
}

.slide li {
  width: 1024px;
  height: 400px;
  float: left;
  margin-left: 10px;
  border-radius: 8px;
  animation-direction: reverse;
  overflow: hidden;
  cursor: pointer;
}

.slide .ms1 {
  flex-grow: 1;
  flex-basis: 0px;
  display: block;
  background-image: url(../img/slide_1.png);
}

.slide .ms2 {
  flex-grow: 0;
  flex-basis: 45px;
  display: block;
  background-image: url(../img/slide_2.png);
  background-size: cover;
  background-position: center;
}

.slide .ms3 {
  flex-grow: 0;
  flex-basis: 45px;
  display: block;
  background-image: url(../img/slide_3.png);
  background-position: center;
  background-size: cover;
}

.slide .ms4 {
  flex-grow: 0;
  flex-basis: 45px;
  display: none;
  background-image: url(../img/slide_4.png);
  background-position: center;
  background-size: cover;
}

.slide .ms5 {
  flex-grow: 0;
  flex-basis: 45px;
  display: none;
  background-image: url(../img/slide_5.png);
  background-position: center;
  background-size: cover;
}

.slide .ms6 {
  flex-grow: 0;
  flex-basis: 45px;
  display: none;
  background-image: url(../img/slide_6.png);
  background-position: center;
  background-size: cover;
}

.slide .ms7 {
  flex-grow: 0;
  flex-basis: 45px;
  display: none;
  background-image: url(../img/slide_7.png);
  background-position: center;
  background-size: cover;
}

.blurback1 {
  background: linear-gradient(to bottom, rgba(71, 34, 34, 0) 50%, #171646 100%);
  width: 100%;
  height: 100%;
}

.blurback2 {
  background: linear-gradient(to bottom, rgba(71, 34, 34, 0) 40%, #4e9b91 100%);
  width: 100%;
  height: 100%;
}

.blurback3 {
  background: linear-gradient(to bottom, rgba(20, 20, 20, 0) 50%, #074594 100%);
  width: 100%;
  height: 100%;
}

.blurback4 {
  background: linear-gradient(to bottom, rgba(20, 20, 20, 0) 50%, #04353E 100%);
  width: 100%;
  height: 100%;
}

.blurback5 {
  background: linear-gradient(to bottom, rgba(20, 20, 20, 0) 50%, #DC487A 100%);
  width: 100%;
  height: 100%;
}

.blurback6 {
  background: linear-gradient(to bottom, rgba(20, 20, 20, 0) 50%, #49B4F9 100%);
  width: 100%;
  height: 100%;
}

.blurback7 {
  background: linear-gradient(to bottom, rgba(20, 20, 20, 0) 50%, #4e1458 100%);
  width: 100%;
  height: 100%;
}

.slidetext {
  position: absolute;
  bottom: 35px;
  left: 35px;
}

.slide .ms2 .slidetext {
  display: none;
}

.slide .ms3 .slidetext {
  display: none;
}

.slidetext .pointbox {
  border: 1px solid #fff;
  color: #fff;
  padding: 4px;
  font-size: 10px;
  border-radius: 2px;
}

.slidetext h1 {
  color: #fff;
  margin-bottom: 5px;
  margin-top: 10px;
}

.slidetext p {
  font-size: 17px;
  color: #fff;
  font-weight: 400;
}

.mainprev {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid rgb(226, 226, 226);
  background-color: #fff;
  box-shadow: 1px 1px 2px rgb(180, 180, 180);
  font-size: 16px;
  color: #464646;
  font-weight: 900;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: -10px;
}

.mainprev:hover {
  color: #c2c2c2;
}

.mainnext {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid rgb(226, 226, 226);
  background-color: #fff;
  box-shadow: 1px 1px 2px rgb(180, 180, 180);
  font-size: 16px;
  color: #464646;
  font-weight: 900;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: -10px;
}

.mainnext:hover {
  color: #c2c2c2;
}

#menu {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#menu > .menubar {
  width: 1170px;
  height: 94px;
  display: flex;
  justify-content: center;
}

.menubarul {
  width: 720px;
}

.menubarul li {
  width: 90px;
  height: 100%;
  float: left;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.menubar li img {
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.menubar li p {
  font-size: 13px;
  text-align: center;
  width: 75px;
  height: 24px;
  line-height: 30px;
  cursor: pointer;
  font-weight: 500;
}

#today {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.todaybox {
  width: 1170px;
  height: 360px;
}

.todaybox h2 {
  height: 48px;
  padding-top: 3px;
  margin-left: 10px;
}

.bookbox {
  width: 1170px;
  height: 311px;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

.tobox {
  width: 180px;
  height: 261px;
}

.tobox img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid rgb(226, 226, 226);
  cursor: pointer;
}

.todaytext {
  width: 180px;
  height: 41px;
  font-size: 16px;
  order: 1;
  cursor: pointer;
  padding-top: 3px;
}

#many {
  width: 100%;
  height: 478px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.manybox {
  width: 1170px;
  height: 408px;
  position: relative;
}

.manybox h2 {
  height: 48px;
  padding-top: 3px;
  margin-left: 10px;
}

.manywrap {
  width: 1170px;
  height: 360px;
  overflow: hidden;
}

.manyslide {
  width: 2340px;
  height: 100%;
}

.manyslide ol {
  width: 380px;
  height: 100%;
  float: left;
  margin: 0px 0px 0px 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.manyslide ol li {
  width: 380px;
  height: 116px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: flex-start;
  margin: 1px;
}
.manyslide ol li img {
  height: 116px;
  border-radius: 4px;
}
.manyslide ol li h5 {
  width: 80px;
  height: 116PX;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
}
.manyslide ol li h4 {
  width: 170px;
  height: 23px;
  font-size: 16PX;
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
}
.manyslide ol li p {
  font-size: 14px;
  color: #5e5e5e;
  opacity: 0.7;
  font-weight: 500;
  margin-top: 4px;
}
.manyslide ol li p span {
  font-size: 13px;
  color: rgb(219, 21, 7);
  width: 10px;
  order: 5;
  margin-top: 5px;
}
.manyslide ol li p:hover {
  opacity: 0.5;
}

.manyprev {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid rgb(226, 226, 226);
  background-color: #fff;
  box-shadow: 1px 1px 2px rgb(180, 180, 180);
  font-size: 16px;
  color: #464646;
  font-weight: 900;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: -10px;
  display: none;
}

.manyprev:hover {
  color: #c2c2c2;
}

.manynext {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid rgb(226, 226, 226);
  background-color: #fff;
  box-shadow: 1px 1px 2px rgb(180, 180, 180);
  font-size: 16px;
  color: #464646;
  font-weight: 900;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: -10px;
}

.manynext:hover {
  color: #c2c2c2;
  opacity: 0.6;
}

.spp {
  order: 5;
  margin-top: 8px;
  height: 15px;
  display: flex;
  align-items: center;
  font-family: "Pretendard-Regular";
}

.manyslide ol li span:nth-of-type(1) {
  font-size: 13px;
  color: rgb(219, 21, 7);
  width: 32px;
  float: left;
}

.manyslide ol li span:nth-of-type(2) {
  font-size: 13px;
}

#mdpick {
  width: 100%;
  height: 344px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.mdpickbox {
  width: 1170px;
  height: 274px;
  position: relative;
}

.mdpickbox h2 {
  height: 48px;
  padding-top: 3px;
  margin-left: 10px;
}

.mdwrap {
  width: 1170px;
  height: 226px;
  overflow: hidden;
}

.mdslide {
  width: 1555px;
  height: 100%;
}

.mdslide li {
  width: 377px;
  height: 100%;
  float: left;
  margin: 0 5px;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}

.mdslide li:nth-of-type(1) {
  margin-left: 10px;
}

.libox1 {
  width: 100%;
  height: 140px;
  display: flex;
  align-items: flex-end;
}

.mdbbox {
  width: 100%;
  height: 100px;
  background-color: orange;
  border-radius: 5px;
  position: relative;
}

.mdslide li.s1 .mdbbox:nth-of-type(1) {
  background-color: #355B29;
}

.mdslide li.s2 .mdbbox:nth-of-type(1) {
  background-color: #441C84;
}

.mdslide li.s3 .mdbbox:nth-of-type(1) {
  background-color: #742e21;
}

.mdslide li.s4 .mdbbox:nth-of-type(1) {
  background-color: #68A0D3;
}

.mdbbox img {
  position: absolute;
  top: -40px;
  width: 108px;
  height: 140px;
  border-radius: 4px 4px 0px 0px;
  left: 36%;
}

.litbox {
  width: 100%;
  height: 86px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-flow: row wrap;
}

.litbox h4 {
  font-size: 16px;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.litbox a {
  font-size: 14px;
  font-weight: 400;
  color: #6d6d6d;
  padding: 0px 95px;
}

.mdprev {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid rgb(226, 226, 226);
  background-color: #fff;
  box-shadow: 1px 1px 2px rgb(180, 180, 180);
  font-size: 16px;
  color: #464646;
  font-weight: 900;
  cursor: pointer;
  position: absolute;
  top: 43%;
  left: -10px;
  display: none;
}

.mdprev:hover {
  color: #c2c2c2;
}

.mdnext {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid rgb(226, 226, 226);
  background-color: #fff;
  box-shadow: 1px 1px 2px rgb(180, 180, 180);
  font-size: 16px;
  color: #464646;
  font-weight: 900;
  cursor: pointer;
  position: absolute;
  top: 43%;
  right: -10px;
}

.mdnext:hover {
  color: #c2c2c2;
}

#best {
  width: 100%;
  height: 478px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.bestbox {
  width: 1170px;
  height: 408px;
  position: relative;
}

.bestbox h2 {
  height: 48px;
  padding-top: 3px;
  margin-left: 10px;
}

.bestwrap {
  width: 1170px;
  height: 360px;
  overflow: hidden;
}

.bestslide {
  width: 2340px;
  height: 100%;
}

.bestslide ol {
  width: 380px;
  height: 100%;
  float: left;
  margin: 0px 0px 0px 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.bestslide ol li {
  width: 380px;
  height: 116px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: flex-start;
  margin: 1px;
}
.bestslide ol li img {
  height: 116px;
  border-radius: 4px;
}
.bestslide ol li h5 {
  width: 80px;
  height: 116PX;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
}
.bestslide ol li h4 {
  width: 170px;
  height: 23px;
  font-size: 16PX;
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
}
.bestslide ol li p {
  font-size: 14px;
  color: #5e5e5e;
  opacity: 0.7;
  font-weight: 500;
  margin-top: 4px;
}
.bestslide ol li p span {
  font-size: 13px;
  color: rgb(219, 21, 7);
  width: 10px;
  order: 5;
  margin-top: 5px;
}
.bestslide ol li p:hover {
  opacity: 0.5;
}

.spp {
  order: 5;
  margin-top: 8px;
  height: 15px;
  display: flex;
  align-items: center;
  font-family: "Pretendard-Regular";
}

.bestslide ol li span:nth-of-type(1) {
  font-size: 13px;
  color: rgb(219, 21, 7);
  width: 32px;
  float: left;
}

.bestslide ol li span:nth-of-type(2) {
  font-size: 13px;
}

.bestprev {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid rgb(226, 226, 226);
  background-color: #fff;
  box-shadow: 1px 1px 2px rgb(180, 180, 180);
  font-size: 16px;
  color: #464646;
  font-weight: 900;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: -10px;
  display: none;
}

.bestprev:hover {
  color: #c2c2c2;
}

.bestnext {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid rgb(226, 226, 226);
  background-color: #fff;
  box-shadow: 1px 1px 2px rgb(180, 180, 180);
  font-size: 16px;
  color: #464646;
  font-weight: 900;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: -10px;
}

.bestnext:hover {
  color: #c2c2c2;
}

#new {
  width: 100%;
  height: 473px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.newbox {
  width: 1170px;
  height: 403px;
  position: relative;
}

.newbox h2 {
  height: 48px;
  padding-top: 3px;
  margin-left: 10px;
}

.newslidewrap {
  width: 1155px;
  height: 355px;
  overflow: hidden;
  margin-left: 11px;
}

.newslide {
  width: 2316px;
  height: 100%;
}

.newslide li {
  width: 183px;
  height: 100%;
  margin: 0px 10px 0px 0px;
  float: left;
}
.newslide li img {
  width: 100%;
  height: 261px;
  border-radius: 5px;
}
.newslide li h4 {
  width: 180px;
  font-size: 16PX;
  display: flex;
  align-items: center;
  margin-top: 5px;
  font-weight: 500;
}
.newslide li p {
  font-size: 14px;
  color: #5e5e5e;
  margin-top: 5px;
  font-weight: 400;
}
.newslide li p:hover {
  opacity: 0.5;
}

.newprev {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid rgb(226, 226, 226);
  background-color: #fff;
  box-shadow: 1px 1px 2px rgb(180, 180, 180);
  font-size: 16px;
  color: #464646;
  font-weight: 900;
  cursor: pointer;
  position: absolute;
  top: 40%;
  left: -10px;
  display: none;
}

.newprev:hover {
  color: #c2c2c2;
}

.newnext {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid rgb(226, 226, 226);
  background-color: #fff;
  box-shadow: 1px 1px 2px rgb(180, 180, 180);
  font-size: 16px;
  color: #464646;
  font-weight: 900;
  cursor: pointer;
  position: absolute;
  top: 40%;
  right: -10px;
}

.newnext:hover {
  color: #c2c2c2;
}

#wjl {
  width: 100%;
  height: 532px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.wjbox {
  width: 1170px;
  height: 482px;
}

.wjbox h2 {
  height: 48px;
  padding-top: 3px;
  margin-left: 10px;
}

.wjwrap {
  width: 1160px;
  height: 434px;
  margin-left: 11px;
  width: 1149px;
}

.wjlist {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.wjlist li {
  width: 223px;
  height: 434px;
  float: left;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.wjlist li img {
  width: 100%;
}

.wjtext {
  width: 100%;
  height: 220px;
  position: absolute;
  top: 220px;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-content: center;
}

.wjtext h1 {
  font-size: 26px;
  color: #fff;
  width: 100%;
  text-align: center;
  font-weight: 900;
  margin-bottom: 5px;
  font-family: "SokchoBadaDotum";
  line-height: 30px;
}

.wjtext p {
  font-size: 17px;
  height: 20px;
  color: #fff;
  font-weight: 700;
}

.wjlist li:nth-child(1) .wjtext {
  background: linear-gradient(to bottom, rgba(20, 20, 20, 0) 0%, #FE5B8E 20%);
}

.wjlist li:nth-child(2) .wjtext {
  background: linear-gradient(to bottom, rgba(20, 20, 20, 0) 0%, #CFC1A9 20%);
}
.wjlist li:nth-child(2) .wjtext h1 {
  font-size: 22px;
  line-height: 26px;
}

.wjlist li:nth-child(3) .wjtext {
  background: linear-gradient(to bottom, rgba(20, 20, 20, 0) 0%, #6D6F76 20%);
}

.wjlist li:nth-child(4) .wjtext {
  background: linear-gradient(to bottom, rgba(20, 20, 20, 0) 0%, #11278E 20%);
}

.wjlist li:nth-child(5) .wjtext {
  background: linear-gradient(to bottom, rgba(20, 20, 20, 0) 0%, #F64462 20%);
}

#field {
  width: 100%;
  height: 570px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.fieldbox {
  width: 1170px;
  height: 500px;
  position: relative;
}

.fieldbox h2 {
  height: 48px;
  padding-top: 3px;
  margin-left: 10px;
}

.fieldt {
  width: 100%;
  height: 200px;
}

.booklist {
  width: 1150px;
  height: 70px;
  border-bottom: 1px solid rgb(151, 151, 151);
  justify-content: space-between;
  display: flex;
  align-items: flex-start;
  margin-left: 10px;
  margin-bottom: 25px;
}

.booklist li {
  width: 183px;
  height: 70px;
  float: left;
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-family: "Pretendard-Regular";
  cursor: pointer;
  font-size: 17px;
  line-height: 75px;
}

.booklist li:hover, .booklist .active {
  border-bottom: 3px #1E9EFF solid;
  color: #1E9EFF;
}

#novelwrap {
  width: 1155px;
  height: 355px;
  margin-left: 11px;
  overflow: hidden;
}

.fslide {
  width: 2316px;
  height: 100%;
}

.fslide li {
  width: 183px;
  height: 100%;
  margin: 0px 10px 0px 0px;
  float: left;
}
.fslide li img {
  width: 100%;
  height: 261px;
  border-radius: 5px;
}
.fslide li h4 {
  width: 180px;
  font-size: 16PX;
  display: flex;
  align-items: center;
  margin-top: 5px;
  font-weight: 500;
}
.fslide li p {
  font-size: 14px;
  color: #5e5e5e;
  margin-top: 5px;
  font-weight: 400;
}
.fslide li p:hover {
  opacity: 0.5;
}

#list_a {
  display: block;
}

#list_b {
  display: none;
}

#list_c {
  display: none;
}

#list_d {
  display: none;
}

#list_e {
  display: none;
}

#list_f {
  display: none;
}

.fdprev {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid rgb(226, 226, 226);
  background-color: #fff;
  box-shadow: 1px 1px 2px rgb(180, 180, 180);
  font-size: 16px;
  color: #464646;
  font-weight: 900;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: -10px;
  display: none;
}

.fdprev:hover {
  color: #c2c2c2;
}

.fdnext {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid rgb(226, 226, 226);
  background-color: #fff;
  box-shadow: 1px 1px 2px rgb(180, 180, 180);
  font-size: 16px;
  color: #464646;
  font-weight: 900;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: -10px;
}

.fdnext:hover {
  color: #c2c2c2;
}

#event {
  width: 100%;
  height: 168px;
  display: flex;
  justify-content: center;
}

.eventbox {
  width: 1170px;
  height: 138px;
  position: relative;
}

.eventbox h2 {
  height: 48px;
  padding-top: 3px;
  margin-left: 10px;
}

.eventwrap {
  width: 1160px;
  height: 90px;
  overflow: hidden;
}

.eventslide {
  width: 3495px;
  height: 100%;
}

.eventslide li {
  width: 376px;
  height: 100%;
  float: left;
  margin-left: 10px;
  background-color: powderblue;
  border-radius: 5px;
  display: flex;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}

.evtext {
  width: 200px;
  height: 40px;
  color: #fff;
  font-family: "Pretendard-Regular";
  font-weight: 700;
  margin: 0px 35px 0px 25px;
  font-size: 16px;
  line-height: 20px;
}

.eventslide li img {
  width: 70px;
  box-shadow: #1f1f1f 1px 0px 80px 1px;
}

.evprev {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid rgb(226, 226, 226);
  background-color: #fff;
  box-shadow: 1px 1px 2px rgb(180, 180, 180);
  font-size: 16px;
  color: #464646;
  font-weight: 900;
  cursor: pointer;
  position: absolute;
  top: 52%;
  left: -10px;
  display: none;
}

.evprev:hover {
  color: #c2c2c2;
}

.evnext {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid rgb(226, 226, 226);
  background-color: #fff;
  box-shadow: 1px 1px 2px rgb(180, 180, 180);
  font-size: 16px;
  color: #464646;
  font-weight: 900;
  cursor: pointer;
  position: absolute;
  top: 52%;
  right: -10px;
}

.evnext:hover {
  color: #c2c2c2;
}

.eventslide li:nth-of-type(1) {
  background-color: #096377;
}

.eventslide li:nth-of-type(2) {
  background-color: #71BAAF;
}

.eventslide li:nth-of-type(3) {
  background-color: #4a5fd3;
}

.eventslide li:nth-of-type(4) {
  background-color: rgb(158, 65, 212);
}

.eventslide li:nth-of-type(5) {
  background-color: rgb(243, 46, 11);
}

.eventslide li:nth-of-type(6) {
  background-color: rgb(243, 11, 50);
}

.eventslide li:nth-of-type(7) {
  background-color: rgb(108, 34, 143);
}

.eventslide li:nth-of-type(8) {
  background-color: rgb(224, 118, 19);
}

.eventslide li:nth-of-type(9) {
  background-color: rgb(53, 206, 122);
}

#select {
  width: 100%;
  height: 580px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.slbox {
  width: 1170px;
  height: 481px;
  position: relative;
  margin-bottom: 50px;
}

.slbox h2 {
  height: 48px;
  padding-top: 3px;
  margin-left: 10px;
}

.slwrap {
  width: 1150px;
  overflow: hidden;
  background-color: rgb(43, 42, 39);
  margin-left: 10px;
}

.slslide {
  width: 2360px;
  padding: 0px 9px 0px 0px;
}

.slslide li {
  width: 383px;
  height: 432px;
  background-color: green;
  float: left;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-flow: row wrap;
  cursor: pointer;
}

.slslide li:nth-of-type(1) {
  opacity: 0.4;
}

.slslide li:nth-of-type(2) {
  opacity: 1;
}

.slslide li:nth-of-type(3) {
  opacity: 0.4;
}

.slslide li:nth-of-type(4) {
  opacity: 0.4;
}

.textbox {
  width: 90%;
  height: 140px;
}

.recom {
  font-size: 17px;
  font-weight: 600;
  font-family: "Pretendard-Regular";
}

.textbox h1 {
  color: #fff;
  margin-bottom: 15px;
  margin-top: 15px;
  font-size: 30px;
}

.textbox p {
  color: #fff;
  font-weight: 400;
  font-size: 15px;
  opacity: 0.7;
  line-height: 23px;
}

.slslide li img {
  width: 150px;
  box-shadow: 3px 3px 8px rgb(56, 56, 56);
}

.slprev {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid rgb(226, 226, 226);
  background-color: #fff;
  box-shadow: 1px 1px 2px rgb(180, 180, 180);
  font-size: 16px;
  color: #464646;
  font-weight: 900;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 330px;
  z-index: 1;
}

.slprev:hover {
  color: #c2c2c2;
}

.slnext {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid rgb(226, 226, 226);
  background-color: #fff;
  box-shadow: 1px 1px 2px rgb(180, 180, 180);
  font-size: 16px;
  color: #464646;
  font-weight: 900;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 330px;
  z-index: 1;
}

.slnext:hover {
  color: #c2c2c2;
}/*# sourceMappingURL=main.css.map */