@charset "utf-8";

@font-face {
    font-family: 'SokchoBadaDotum';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/SokchoBadaDotum.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SOYOMapleBoldTTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/SOYOMapleBoldTTF.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}



*{margin: 0; padding: 0; box-sizing: border-box;}
ul,ol,li {list-style: none;}
a {text-decoration: none; color: #333; font-family: 'Pretendard-Regular'; font-weight: 500;}
h1,h2,h3,h4,h5,p,span {font-family: 'Pretendard-Regular'; color: #333;}

@mixin centerbox {
    width: 1170px; height: 100%; 
}

@mixin h2titlesub {
    width: 100%; border-bottom: 2px solid #525252; padding: 10px 0px; height: 45px; font-size: 14px;
    h2 {color: #59667a;}
}

@mixin dttxt {
    p {font-size: 14px; line-height:23px;}}

@mixin starfont {color: #ee7e23; font-family: 'SOYOMapleBoldTTF';}

@mixin contents_box {width: 600px; height: 685px; display: flex; justify-content: center; flex-flow: row wrap;}




// 페이지
    section {width: 100%; height: auto;  display: flex; justify-content: center;}


    // 중앙 컨텐츠
    #section1 {width: 936px; height: 100%;}
    .bookitbox {width: 936px; height: 626px;  display: flex; flex-flow: row wrap; justify-content: space-between; padding: 20px 10px;}
    .bookimgbox {width: 220px; height: 337px;  display: flex; flex-flow: row wrap; align-content: space-between;}
    .bookimgbox img {width: 200px; height: 286px; cursor:zoom-in;}
    .bookimgbox button {width: 130px; height: 39px;border-radius: 5px; border: 1px solid #1E9EFF;
    order: 1; margin-left: 35px; color: #1E9EFF; font-size: 16px; font-weight: 500; font-family: 'Pretendard-Regular';}
    
    .bookimgbox button:hover {background-color: rgb(215, 236, 252); cursor: pointer;}

    .booktextbox {width: 635px; height: 360px;  display: flex; flex-flow: row wrap; align-content: flex-start;}
    .genre {width: 100%; float: left; margin-bottom: 10px;}
    .genre p {float: left; font-size: 14px;}
    .genre .g1 {cursor: pointer;}
    .genre .g2  { margin-left: 3px; margin-right: 10px; color: #1b1b1b; font-weight: 900;}

    .booktitle {font-size: 21px; margin-bottom: 20px; width: 100%;}
    .bookscope {display: flex; align-items: flex-end;}
    .bookscope p{color: #ee7e23; font-size: 14px; font-weight: 400; cursor: pointer; float: left; margin-right: 3px; }
    .bookscope span{margin: 1px; font-size: 12px; color: #9c9c9c;}

    .bookauthor {width: 100%; text-align: left;  height: 35px; display: flex; align-content: space-between; flex-flow: row wrap; margin: 20px 0px;}
    .bookauthor h5 {font-size: 14px; cursor: pointer; width: 100%;}

    .bookevent{width: 100%; height: 40px; display: flex; align-items: center; border-top: 1px solid rgb(212, 212, 212); border-bottom: 1px solid rgb(212, 212, 212);}
    .bookevent span {width: 38px; background-color: rgb(205, 169, 238); color: rgb(52, 11, 148); font-size: 12px; padding: 3px; border-radius: 2px; float: left; margin-right: 10px;}
    .bookevent p {font-weight: 500; font-size: 15px;}

    .price {width: 100%; height: 63px; border-top: 1px solid rgb(212, 212, 212); border-bottom: 1px solid rgb(212, 212, 212); margin-top: 15px; display: flex; flex-flow: row wrap;}

    .price .intes{width: 218px; font-size: 14px;background-color: rgb(236, 236, 236); height: 100%; display: flex; align-items: center; justify-content: center;}

    .price .sale {padding: 10px; font-size: 14px; display: flex; justify-content: space-between; align-items: center; width: 410px; flex-flow: row wrap; height: 100%;}
    .sale p:nth-of-type(2) {color: #1E9EFF; font-weight: 500;}

    .btnwrap {width: 100%; height:48px; display: flex; justify-content: flex-end; margin-top: 18px;}
    .btnwrap button {width: 48px; height: 48px; margin-left: 5px; border-radius: 5px; border:1px solid rgb(212, 212, 212); cursor: pointer;}
    .btnwrap button img {width: 18px;}

    .btnwrap .textbtn {width: 112px; height: 48px; background-color: #1E9EFF; border: none; color: #fff; font-size: 15px; font-weight: 700; font-family: 'Pretendard-Regular';}

    .infobox {width: 100%; height: 150px; padding: 20px; display: flex; align-content: center;
    border: 5px solid rgb(212, 212, 212); border-radius: 1px;}
    
    .infobox ul {width: 380px; float: left; }
    .infobox ul li{width: 360px; font-size: 13px; font-weight: 600; padding: 3px 0px;}
    .infobox ul li p {width: 100px; float: left;}
    .infobox ul li span {font-weight: 400; width: 200px;}
    .infobox ul li:nth-of-type(1) p {height: 18px;}

    // 커버이미지팝업
    .imgpopup {width: 100%; height: 100%; background-color: #1b1b1be8; position: absolute; top: 0px; left: 0px; position: fixed; z-index: 1;  display: none;}
    .imgpopup_wrap {width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;}
    .popupbox {width: 530px; height: 790px;}
    .popupbox > .xbox {display: flex; justify-content: right; padding: 5px 0px; cursor: zoom-out;}
    .popupbox > .xbox > img {width: 20px; height: 20px;}
    .popupbox > .xbox > img:hover {opacity: 0.5;}
    .popupbox img {width: 530px; height: 750px;}

    // 미리보기
    #pvwrap {width: 100%; height: 100%; background-color: #1b1b1be8; z-index: 1; top: 0px; left: 0px; position: fixed; display: none;}
    .previewbox_wrap {width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;}
    .previewbox {width: 900px; height: 800px; background-color: gold; display: flex; justify-content: center; flex-flow: row wrap; align-items: center; }


    .projecthm {width: 670px; height: 45px; background-color: #fff; display: flex; justify-content: space-between; align-items: center; padding: 0px 20px; border-bottom: 1px solid #979797}
    .projecthm h3:hover {color: #1E9EFF; cursor: pointer;}

    .textwrap {display: flex; justify-content:center}
    .textwrap button {width: 42px; height: 30px; font-family: 'Pretendard-Regular'; font-weight: 500; color: #333; background-color: #fff; border: 1px solid #7b8286; border-radius: 5px; cursor: pointer;}
    .textwrap > button:hover {background-color: #e6e6e6cc;}
    .textwrap button:nth-of-type(1) {font-size: 12px;}
    .textwrap button:nth-of-type(2) {font-size: 15px; margin-left: 5px;}


    // /미리보기 컨텐츠 내용 부분
    .hm_contents_slide {width: 670px; height: 755px; background-color: #fff; display: flex; justify-content: center; align-items: center;}
    .ct_start {@include contents_box;}
    .ct_start img {width: 450px;}

    .ct_contents {@include contents_box; display: none; }
    .ct_contents > img {width: 450px; margin-left: 70px; margin-top: 20px}

    .ct_01 {@include contents_box; font-weight: 400; display: none;
    font-size: 18px; line-height: 45px; overflow-y: scroll;}
    .ct_01::-webkit-scrollbar {display: none;}

    .ct_02 {@include contents_box; 
        font-size: 18px; line-height: 45px; overflow-y: scroll;
    display: none; font-weight: 400;}
    .ct_02::-webkit-scrollbar {display: none;}

    .ct_03 {@include contents_box; display: none;
        font-size: 18px; line-height: 45px; overflow-y: scroll;
        font-weight: 400;}
    .ct_03::-webkit-scrollbar {display: none;}


    //미리보기 목차 부분
    .hm_index {width: 230px; height: 800px; background-color: yellow;}
    .hm_index_title {width: 100%; height: 45px; background-color: #e4e4e4; border-bottom: 1px solid #979797; display: flex; align-items: center; padding: 0px 20px; color: #afb3b6;  }
    .idx_txt {width: 100%; height: 755px; background-color: #d69191; overflow-y: scroll; font-family: 'Pretendard-Regular'; font-size: 14px; font-weight: 500;}
    .idx_txt::-webkit-scrollbar {
        width: 10px; background-color:#e4e4e4;
       
      }
      .idx_txt::-webkit-scrollbar-thumb {
        background-color: #333;
        border-radius: 10px;
        background-clip: padding-box;
        border: 2px solid transparent;
      }

    .idx_txt_nb {width: 100%; height: 45px; background-color: #e4e4e4; border-bottom: 1px solid #dadada; display: flex; align-items: center; padding: 0px 20px; color: #afb3b6;}

    .idx_txt_nb:nth-child(-n+5) {color: #333;}
    .idx_txt_nb:nth-child(-n+5):hover {background-color: #d1d1d1; cursor: pointer;}


    
    // 작품소개
    .workintrobox {width: 100%; height: auto;  padding: 0px 10px; margin-bottom: 50px; }
    .textbox {cursor: pointer; }
    .worktitle {@include h2titlesub;}
    .worktext { @include dttxt; height: auto; margin-top: 15px;}
    .worktext2 { @include dttxt; display: none;}

    .tgbtn {text-align: right; width: 100%; display: flex;align-items: center; justify-content: right;}
    .tgbtn p {float: left; margin-right: 5px; font-size: 14px; color: #1E9EFF;}
    .tgbtn .tgimg {background-color: #1E9EFF; width: 15px; height: 15px; display: flex; justify-content: center;border-radius: 100%; align-items: center;}
    .tgimg img{width: 11px; height: 15px;}
    
    .tgbtnclose {text-align: right; width: 100%; display: none;}
    .tgbtnclose p {float: left; font-size: 14px; color: #1E9EFF; margin-left: 870px; margin-right: 5px;}
    .tgbtnclose .tgimgclose {background-color: #1E9EFF; width: 15px; height: 15px; display: flex; justify-content: center; border-radius: 100%;
    align-items: center;}
    .tgimgclose img{width: 11px; height: 15px;}
    

    // 출판사 서평
    .pbbox {width: 100%; padding: 0px 10px; margin-bottom: 50px}
    .pbtitle {@include h2titlesub;}
    
    .pbtextbox {cursor: pointer;}
    .pbtext { @include dttxt; height: auto; margin-top: 15px; height: 161px; }
    .pbtext2 { @include dttxt;  display: none;}

    .tgbtn2 {text-align: right; width: 100%; display: flex;align-items: center; justify-content: right;}
    .tgbtn2 p {float: left; margin-right: 5px; font-size: 14px; color: #1E9EFF;}
    .tgbtn2 .tgimg2 {background-color: #1E9EFF; width: 15px; height: 15px; display: flex; justify-content: center;border-radius: 100%; align-items: center;}
    .tgimg2 img{width: 11px; height: 15px;}
    
    .tgbtnclose2 {text-align: right; width: 100%; display: none;}
    .tgbtnclose2 p {float: left; font-size: 14px; color: #1E9EFF; margin-left: 870px; margin-right: 5px;}
    .tgbtnclose2 .tgimgclose2 {background-color: #1E9EFF; width: 15px; height: 15px; display: flex; justify-content: center; border-radius: 100%;
    align-items: center;}
    .tgimgclose2 img{width: 11px; height: 15px;}

    // 저자 프로필
    .pfbox {width: 100%; padding: 0px 10px; height: auto; margin-bottom: 50px}
    .pftitle {@include h2titlesub;}
    

    .pftextbox {width: 100%; height: 40px;  display: flex; align-items: flex-end;}
    .pftextbox p {float: left; margin-right: 10px;  font-size:14px; height: 25px; }
    .pftextbox p:nth-of-type(2) {
        border-bottom: 1px solid black;
    }
    
    .atpro {width: 100%; height: 290px; display: flex;  border-bottom: 1px solid rgb(212, 212, 212); flex-flow: row wrap; justify-content: left;
    align-content:center; position: relative;
    }


    .atpro h2 {width:100%; font-size: 20px; margin-top:20px;}
    .atpro button {width:168px; height: 30px;border-radius: 5px; border: 1px solid #1E9EFF;
        color: #1E9EFF;margin-top:20px;
    font-weight:700; font-family: 'Pretendard-Regular';}
    .atpro table {width:100%;font-family: 'Pretendard-Regular'; font-size: 14px; margin-top: 10px;}
    .atpro table tr {line-height: 23px;} 
    .atpro table tr td:nth-of-type(1) {color: #525252; width:35px; }

    .atpro p {font-size: 14px; position: absolute; top: 260px; right:20px ;}

    .mpiece {width: 100%; height: 286px;  padding: 10px;}
    .mpiece > p {margin:20px 0px; font-size: 18px;}
    
    .mpiece li {float: left; width: 175px; height: 210px; padding: 20px 40px;  margin: 2px; display: flex; justify-content: center; flex-flow: row wrap;}
    .mpiece li img {width: 100%; cursor: pointer;}
    .mpiece li p {font-size: 15px; font-weight: 700;
    margin-top: 5px; width: 95px;}


    // 저자소개
    .atintro {width: 100%; padding: 0px 10px;   
          height: auto;
        margin-bottom: 50px}

    .attitle {@include h2titlesub;}
    .attextbox {cursor: pointer;}
    .attext { @include dttxt; height: auto; margin-top: 15px; height: 161px; }
    .attext2 { @include dttxt; display: none;}

    .tgbtn3 {text-align: right; width: 100%; display: flex;align-items: center; justify-content: right;}
    .tgbtn3 p {float: left; margin-right: 5px; font-size: 14px; color: #1E9EFF;}
    .tgbtn3 .tgimg3 {background-color: #1E9EFF; width: 15px; height: 15px; display: flex; justify-content: center;border-radius: 100%; align-items: center;}
    .tgimg3 img{width: 11px; height: 15px;}
    
    .tgbtnclose3 {text-align: right; width: 100%; display: none;}
    .tgbtnclose3 p {float: left; font-size: 14px; color: #1E9EFF; margin-left: 870px; margin-right: 5px;}
    .tgbtnclose3 .tgimgclose3 {background-color: #1E9EFF; width: 15px; height: 15px; display: flex; justify-content: center; border-radius: 100%;
    align-items: center;}
    .tgimgclose3 img{width: 11px; height: 15px; }

    // 리뷰 - 구매자 별점
    .review {width: 100%; padding: 0px 10px;   
        height: auto;}
   .rvtitle {@include h2titlesub;}
   

   .rvbox {width: 100%; height: 286px;  display:flex; flex-flow: row wrap;  justify-content: center;}
    .rvbox .rvscope {width: 120px; height: 286px;  display: flex; justify-content: center; flex-flow: row wrap;
    align-content: center; float: left;}
    .rvscope p {width: 100%; font-size: 12px; text-align: center; color:#888888; font-weight: 500;}
    .rvscope h1 {width: 100%; font-size: 30px; text-align: center;}
    .rvscope span {width: 100%; text-align: center;  margin-bottom: 7px; @include starfont;}

    .rvscope ul {width: 100px; }
    .rvscope ul li {width: 100px; float: left; margin: 5px 0px; align-items: center;
    display: flex; justify-content: flex-start;}
    .rvscope ul li p { font-size: 12px; width: 30px;
    font-weight: 500; font-family: 'SOYOMapleBoldTTF'; color:#888888;}

    .rvscope ul li .scrange{width: 70px; height: 10px; background-color: rgb(228, 228, 228);
    display: flex; }
    .scrange .scbar1 {width: 85%; height: 100%; background: linear-gradient(#bdbdbd, #888888);}
    .scrange .scbar2 {width: 15%; height: 100%; background: linear-gradient(#bdbdbd, #888888);}
    .scrange .scbar3 {width: 2%; height: 100%; background: linear-gradient(#bdbdbd, #888888);}

    .people {height: 30px; width: 85%; margin-top: 5px; line-height: 30px; font-weight: 500; color: #525252; border-top: 1px solid #888888; }


    // 리뷰 - 리뷰남기기
    .rveval {width: 794px; height: 286px; display: flex; justify-content: center; flex-flow: row wrap;
    align-content: center; position: relative;}
    .rveval .starwrap{position: absolute;
    top: 23px;  width: 100px; height: 40px; left: 338px; }

    .starwrap img {position: absolute; display: none; }

    .rveval > .pbox {width: 500px; height: 50px; display: flex; justify-content: center; align-items: flex-end;}
    .pbox p{font-size: 18px; color: #525252; font-weight: 600;}

    .star {height: 70px;
    display: flex; align-items: center;}
    .star li {font-size: 48px; float: left; color: #b4b4b4; width: 64px; height: 48px; cursor: pointer; font-family: 'SOYOMapleBoldTTF';}
    .star li:hover {color: #ee7e23;}
    #rvwrite {width: 95%; height: 112px; border-radius: 7px; border: 2px solid #b4b4b4; outline: none; color: #525252; 
    padding: 0px 20px; font-size: 15px; font-family: 'Pretendard-Regular'; color: #1b1b1b;}
    
    
    
    .spobox {display: flex; justify-content: right; width: 100%; align-items: center; }

    .spobox input {width : 20px; height: 30px;}
    .spobox label {width : 130px; font-size: 14px;
        font-family: 'Pretendard-Regular'; height: 20px;
     text-align: center; color: #525252;
    line-height: 20px; font-weight: 500;}

    .spobox > button {width: 95px; height: 30px; background-color: rgb(189, 189, 189); border: none; margin: 10px 20px; border-radius: 5px; cursor: pointer; 
    color: #fff; font-family: 'Pretendard-Regular';}
    .spobox > button:hover {opacity: 0.8;}
    

    .rvpopup {width: 420px; height: 50px; background-color: #1b1b1b; top: 15%; border-radius: 5px; left: 37%; position: fixed;
    display: flex; justify-content: left;  opacity: 0.9; display: none; flex-flow: row wrap; padding: 15px 0px;}
    
    .rvpopup img {width: 20px; height: 20px; margin-left: 20px; float: left; }
    .notice {font-size: 14px; height: 20px; display: flex; justify-content: center; width: 120px;
    color: #f88792; line-height: 20px; float: left;}
    .rvpopup > span img {width: 20px; height: 20px; border: none; margin-left: 220px;  cursor: pointer; }
    .rvpopup > span:hover {opacity: 0.5;}


    // 댓글
    #comment {width: 100%; height: auto;  padding: 0px 10px; display: flex; flex-flow: row wrap; justify-content: center; margin-bottom: 100px;}
    .comment_menu {width: 916px; height: 37px;  display: flex; justify-content: space-between; border-bottom: 2px solid #b4b4b4;}
    .cmenu1 {float: left; width: 200px; }
    .cmenu1 li {font-size: 15px; float: left;font-family: 'Pretendard-Regular'; color: #888888; margin-right: 10px;line-height: 40px; font-weight: 500; cursor: pointer; height: 37px;
    width: 75px;}
    .cmenu1 li:nth-of-type(1) {border-bottom: 2px solid #333;}
    .cmenu1 li:hover{border-bottom: 2px solid #333; }
    .cmenu1 > li> span {font-weight: 300;color:  #b6b6b6; }

    .cmenu2 { width: 270px;}
    .cmenu2 li {float: left; font-size: 13px; font-family: 'Pretendard-Regular'; color: #888888; margin: 0px 10px; text-align: center; line-height: 40px; font-weight: 500; cursor: pointer;}
    .cmenu2 li:hover {color:#525252;}

    .com_num {width: 100%; height: 143px; display: flex; align-items: center; border-bottom: 1px solid rgb(233, 233, 233);}

    .com_num:nth-of-type(11) {border: none;}
    
    .com_num_left {width: 115px; height: 109px; display: flex;
    flex-flow: row wrap; align-content: space-between}
    .left_star {@include starfont;}
    .left_name {font-size: 12px; font-weight: 500;}
    .left_name span {color: #fff; background-color: #838b92; font-weight: 200; padding: 3px; border-radius: 5px; margin-left: 2px;}
    .left_date {color: #888888; font-size: 12px;
    }
    .left_dec {color: #888888; font-size: 12px;
         font-weight: 500; margin-right: 10px; cursor: pointer;}


    .com_num_right {width: 801px; height: 109px;  display: flex;
    justify-content: space-between; flex-flow: row wrap;}
    .com_num_right p {width: 100%; height: 50px;
    font-size: 14px; font-weight: 400; }
    .com_num_right .combtn {width: 100%; display: flex; justify-content: flex-end;}
    .com_num_right button {width: 55px; height: 25px;
    font-size: 12px; border-radius: 5px; border: 1px solid #9ea7ad; color: #7b8286; margin-left: 5px; background-color: white; cursor: pointer;}
    .com_num_right button img {width: 12px; margin-right: 3px; height: 10px; }
    .com_num_right button:hover {background-color: #e6e6e6;}

    


    // 댓글 더보기
    .see_more {width: 876px; height: 47px;  border-radius: 5px; background-color: white;
        border: 2px solid #b4b4b4; display: flex;
    justify-content: center; align-items: center;cursor: pointer;}
    .see_more:hover {background-color: #e6e6e6;}
    
    .see_more p {font-size: 14px; font-weight: 500; color:#888888;}
    .see_more span {color: #1E9EFF; }

    .cmentbox {display: none;}



    // 우주 3부작
    .three {width: 100%; padding: 0px 10px; margin-bottom: 70px}
    .three_title {@include h2titlesub;}
    .thrlist {width: 100%; height: 220px; }
    .thrlist li {float: left; width: 175px; height: 210px; padding: 20px 40px;  margin: 2px; display: flex; justify-content: center; flex-flow: row wrap;}
    .thrlist li img {width: 100%; cursor: pointer;}
    .thrlist li p {font-size: 15px; font-weight: 700;
    margin-top: 5px; width: 95px;}


    // 이 책과 함께 구매한 책
    .buy_together {width: 100%; padding: 0px 10px; margin-bottom: 70px}
    .buy_title {@include h2titlesub;}
    .buy_list {width: 100%; height: 440px; }
    .buy_list li {float: left; width: 175px; height: 210px; padding: 20px 40px;  margin: 2px; display: flex; justify-content: center; flex-flow: row wrap;}
    .buy_list li img {width: 100%; cursor: pointer;}
    .buy_list li h5 {font-size: 15px; font-weight: 700; overflow: hidden; display: inline-block;
        text-overflow: ellipsis; white-space: nowrap;
    margin-top: 5px; width: 95px;}
    .buy_list li p {font-size: 13px; color: #525252; font-weight: 500; width: 95px; justify-content: flex-start; height: 20px; line-height: 25px; 
        overflow: hidden; display: inline-block; }


    // 사이드컨텐츠
    #section2 {width:234px; height: 100%; position: sticky; top: 10px; display: flex; flex-flow: row wrap; justify-content: right; }
    #section2 img {width:203px;}

    .sfbestwrap {width: 100%; display: flex; justify-content: center; margin-top: 20px; flex-flow: row wrap;}
    .sfbestwrap h4 {width: 170px; text-align: left;}
    .sfbestwrap ul {width: 173px; font-family: 'Pretendard-Regular';margin-bottom: 12px; cursor: pointer;}
    .sfbestwrap ul li {width: 100%; height: 17px; margin: 10px 0px; cursor: pointer;}
    
    .sfbestwrap ul li span {width: 25px; height: 20px;  float: left; color: rgb(255, 42, 5); font-style: italic; font-weight: 500; font-size: 14px;}
    .sfbestwrap ul li p { overflow: hidden; width: 140px; font-size: 14px; text-overflow: ellipsis; white-space: nowrap;}


